<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title th:fragment="title">Chess v1.0</title>
</head>
<body>
<!--/* Main page (index) */-->
<div th:fragment="content">
    <h1 class="text-center">Welcome to Chess</h1>
    <div class="container-fluid">
        <h2>Game <span th:text="${game.getId()}"></span></h2>
        <ul>
            <li>Player <span>1</span> is <span th:text="${game.getCurrentPlayer() != 1 ? 'White' : 'Black'}" class="bold">Black</span></li>
            <li>Player <span>2</span> is <span th:text="${game.getCurrentPlayer() == 1 ? 'White' : 'Black'}" class="bold">White</span></li>
        </ul>
        <h4><span th:text="${game.getCurrentPlayer() == 1 ? 'Black' : 'White'}">Black</span> player your turn !</h4>
        <h5 th:text="${error_msg}" class="alert-message">A message appear !</h5>
    </div>
    <div class="flex-container">
        <table id="board">
            <tr th:each="y: ${#numbers.sequence(0, game.WIDTH - 1)}" class="line">
                <td th:each="x: ${#numbers.sequence(0, game.WIDTH - 1)}" class="cell ui-droppable" th:classappend="|${(x % 2 == y % 2) ? 'odd' : 'even' }|" th:attr="data-x=${x}, data-y=${y}">
                    <div th:if="${game.getFigureAt(x, y) != null}" th:utext="${game.getFigureAt(x, y).getHtmlCode()}" th:attr="data-id=${game.getFigureAt(x, y).getId()}" class="figure ui-draggable" style="position: relative;">♜</div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>